# Ignore Gradle project-specific cache directory
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar


# Ignore Gradle build output directory
build

### VS Code ###
.vscode/
*.class
bin/

1234567890.pdf
log.txt
